body
{
    background-color: rgb(3, 3, 77);
    color: white;
    margin: 0;
}
.headrow
{
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 50px;
}
.col
{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}
.title
{
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 45px;
    

}
.search
{
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 3px;
    background-color: rgb(247, 30, 30);
    color: white;
    font-size: 20px;
    font-weight: 900;
    vertical-align: bottom;
    cursor: pointer;
    transition:  opacity .15s; 
     

}
.search:hover
{
    opacity: .9;
}
.search:active
{
    opacity: .7;
}
.city
{
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom-width: 2px;
    background-color:rgb(3, 3, 77) ;
    border-color: blanchedalmond;
    margin-right: 10px;
    width: 350px;
    height: 40px;
    font-size: 25px;
    padding-left:5px ;
    color: white;
    outline: 0;

}
.city::placeholder
{
    font-size: 25px;
    color: white;
}
.search-row
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}



.screen-bottom
{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.white-card
{
    background-color: white;
    border-radius: 15px;
    width: 300px;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 30px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-right: 130px;
    

}

.city-name
{
    color: rgba(39, 38, 38, 0.753);
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
}
.tem
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}
.temp
{
    color: rgba(39, 38, 38, 0.973);
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    margin-right: 10px;
    vertical-align: top;


}
.degree
{
    color: rgba(39, 38, 38, 0.945);
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    

}
.desc
{
    color: rgba(39, 38, 38, 0.753);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.icon
{
    width: 100%;
   
}
.icon-box
{
    width: 100px;
    background-color: white;
    height: 70px;
}
.shadow
{
    border-radius: 14px;
    width: 320px;
    height: 28px;
    
    background-color: rgb(120, 111, 245);;
    margin-bottom: 40px;
    margin-top: -14px;
    margin-right: 130px;


}